﻿@model IEnumerable<BulkyBook.Models.Product>


    <div class="row pb-2">
        @foreach(var product in Model)
    {
        <div class="col-lg-2 col-md-2">
            <div class="row p-2">
                @*Total card size adjust*@
                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius:5px; width:220px; height:460px">
                    <div class="card">
                        @*only image size adjust*@
                        <img src="@product.ImageUrl" style="height:240px; width:170px; align-self:center; padding-top:1px; float:none" 
                        alt="Image" class="card-img-top rounded"/>

                        <div class="card-body" style="height:170px">
                            <div class="pl-1">
                                <p class="card-title h5 text-primary" style="font-size:14px">@product.Title</p>
                                <p class="card-title text-info" style="font-size:14px">by <b>@product.Author</b></p>
                            </div>
                            <div class="pl-1">
                                <p style="font-size:14px">List Price:<strike><b>&#x20B9;@product.ListPrice.ToString("0.00")</b></strike></p>
                            </div>
                            <div class="pl-1">
                                <p style="font-size:14px">As low as: <b>&#x20B9;@product.Price100.ToString("0.00")</b></p>
                            </div>
                        </div>
                    </div>
                    <a asp-action="Details" class="btn btn-primary form-control" asp-route-ProductId="@product.Id">
                        Details
                    </a>
                </div>
            </div>
        </div>
    }
</div>