﻿@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4 border" style="border-radius:15px; background-color:whitesmoke; width:1300px">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>

        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create new Product
            </a>
        </div>
    </div>
    <br />



    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th class="text text-dark">Title</th>
                <th class="text text-dark">ISBN</th>
                <th class="text text-dark">Price</th>
                <th class="text text-dark">Author</th>
                <th class="text text-dark">Category</th>
                
                

                <th></th>
            </tr>
        </thead>
       

    </table>
</div>

    @section Scripts{

        <script src="~/js/product.js"></script>
    }