﻿@model BulkyBook.Models.ViewModels.ProductVM


    <form method="post" asp-action="Upsert" enctype="multipart/form-data" 
          style="margin-left:20px; margin-right:20px; margin-top:5px; margin-bottom:5px">
        <input asp-for="Product.Id" hidden/>
        <input asp-for="Product.ImageUrl" hidden/>

        <div class="row">
            <div class="col-10">
                <div class="pb-2 row">
                    <div class="row pb-0">
                        <h2 class="text-primary">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
                        <br />
                    </div>
                </div>
                <hr />
                @* <div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="mb-3">
                    <label asp-for="Product.Title"></label>
                    <input asp-for="Product.Title" type="text" class="form-control border rounded-2" />
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Description"></label>
                    <textarea asp-for="Product.Description" rows="3" class="form-control border rounded-2"></textarea>
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="mb-3 col-6">
                        <label asp-for="Product.ISBN"></label>
                        <input asp-for="Product.ISBN" type="text" class="form-control border rounded-2" />
                        <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-6">
                        <label asp-for="Product.Author"></label>
                        <input asp-for="Product.Author" type="text" class="form-control border rounded-2" />
                        <span asp-validation-for="Product.Author" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-6">
                        <label asp-for="Product.ListPrice"></label>
                        <input asp-for="Product.ListPrice" type="text" class="form-control border rounded-2" />
                        <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-6">
                        <label asp-for="Product.Price"></label>
                        <input asp-for="Product.Price" type="text" class="form-control border rounded-2" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-6">
                        <label asp-for="Product.Price50"></label>
                        <input asp-for="Product.Price50" type="text" class="form-control border rounded-2" />
                        <span asp-validation-for="Product.Price50" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-6">
                        <label asp-for="Product.Price100"></label>
                        <input asp-for="Product.Price100" type="text" class="form-control border rounded-2" />
                        <span asp-validation-for="Product.Price100" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.ImageUrl"></label>
                    <input type="file" id="uploadBox" name="file" class="form-control border rounded-2" />
                    
                </div>
                <div class="row">
                    <div class="mb-3 col-6">
                        <label asp-for="Product.CategoryId"></label>
                        <select class="form-control" asp-for="Product.CategoryId" asp-items="@Model.CategoryList">
                            <option disabled selected>--Select Category--</option>
                        </select>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-6">
                        <label asp-for="Product.CoverTypeId"></label>
                        <select class="form-control" asp-for="Product.CoverTypeId" asp-items="@Model.CoverTypeList">
                            <option disabled selected>--Select CoverType--</option>
                        </select>
                        <span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    @if (Model.Product.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width:100px">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" onclick="return ValidateInput()" style="width:100px">Create</button>
                    }
                    <a asp-controller="Product" asp-action="Index" class="btn" style="width:140px; background-color:grey; color:white">Back to List</a>
                </div>
                </div>
            <div class="col-2">
                <img src="@Model.Product.ImageUrl" 
                     width="100%" alt="image" style="border-radius:5px; border:1px solid #bbb9b9" />
            </div>
            
        </div>

    </form>
        
    @section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }

    <script>
        // for rich text editer
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ]
        });


        // For image validation 
        function ValidateInput() {
        if(document.getElementById("uploadBox").value==""){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an image!',
                    //footer: '<a href="">Why do I have this issue?</a>'
                });
                return false;
        }
        return true;
        }
            
    </script>
    }
    