﻿@model CoverType 


<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden/>
    <div class="p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>            
            <br />
        </div>
    </div>
    @*<div asp-validation-summary="All" class="text-danger"></div>*@
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" disabled class="form-control border rounded-2" style="width:50%" />
        @*<span asp-validation-for="Name" class="text-danger"></span>*@
    </div>
   
    
    <button type="submit" class="btn btn-danger" style="width:100px">Delete</button>

    <a asp-controller="CoverType" asp-action="Index" class="btn btn-secondary" style="width:140px">Back to List</a>
</form>


    @section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
    }