﻿@model CoverType 


<form method="post" style="width:60%" asp-action="Edit">
    <div class="p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Category</h2>            
            <br />
        </div>
    </div>
   @* <div asp-validation-summary="All" class="text-danger"></div>*@
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control border rounded-2" style="width:50%" />
        @*<span asp-validation-for="Name" class="text-danger"></span>*@
    </div>
    
   
    
    <button type="submit" class="btn btn-primary" style="width:100px">Update</button>

    <a asp-controller="CoverType" asp-action="Index" class="btn" style="width:140px; background-color:grey; color:white">Back to List</a>
</form>


    @section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
    }