﻿@model int

<div class="container row pt-5">
    <div class="text-center">
        <h2 class="text-primary text-center">Order placed successfully</h2>
        Your order number is: @Model<br /><br />
        <img src="~/Images/products/long-leaf-potted-plant-3d-model-obj.jpg" width="55%" height="50%"/>
    </div>
    <div class="mb-5 text-center" style="color:maroon">
        Your order has been placed successfully! <br />
    </div>
</div>