﻿@model Company


    <form method="post" asp-action="Upsert" enctype="multipart/form-data" 
          style="margin-left:20px; margin-right:20px; margin-top:5px; margin-bottom:5px">
        <input asp-for="Id" hidden/>
        

        <div class="row">
            <div class="col-10">
                <div class="pb-2 row">
                    <div class="row pb-0">
                        <h2 class="text-primary">@(Model.Id != 0 ? "Update" : "Create") Company</h2>
                        <br />
                    </div>
                </div>
                <hr />
                @* <div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="mb-3">
                    <label asp-for="Name"></label>
                <input asp-for="Name" type="text" class="form-control border rounded-2" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" type="text" class="form-control border rounded-2" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="StreetAddress"></label>
                <input asp-for="StreetAddress" type="text" class="form-control border rounded-2" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="City"></label>
                <input asp-for="City" type="text" class="form-control border rounded-2" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="State"></label>
                <input asp-for="State" type="text" class="form-control border rounded-2" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PostalCode"></label>
                <input asp-for="PostalCode" type="text" class="form-control border rounded-2" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>

                <div class="col-12">
                    @if (Model.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width:100px">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" style="width:100px">Create</button>
                    }
                    <a asp-controller="Company" asp-action="Index" class="btn" style="width:140px; background-color:grey; color:white">Back to List</a>
                </div>
            </div>            
        </div>
    </form>
        
    @section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }  
}