﻿
@*@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
*@

@model Category 


<form method="post" style="width:60%">
    <div class="p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            
            <br />
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control border rounded-2" style="width:50%" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DisplayOrder"></label>
        <input asp-for="DisplayOrder" class="form-control border rounded-2" style="width:50%" />
        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
    </div>
   
    
    <button type="submit" class="btn btn-primary" style="width:100px">Create</button>

    <a asp-controller="Category" asp-action="Index" class="btn" style="width:140px; background-color:grey; color:white">Back to List</a>
</form>


    @section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
    }