﻿
@{
    ViewData["Title"] = "Index";
}

@*Let us move the below tempdata to shared Folder inside a _Notification file to use anywhere if need*@
@*
@if(TempData["success"] != null)
{
    <h2 style="text-align:center; background-color:none; color:dodgerblue">@TempData["success"]</h2>
}
*@


@*The below code moved to _Layout file before body render for partial use *@
@*<partial name="_Notification"></partial>*@

<div class="container mt-4 border" style="border-radius:15px; background-color:whitesmoke; width:1300px" >
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create new Category
            </a>
        </div>
    </div>
    <br />



<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th class="text text-dark">
                Category Name
            </th>
            <th class="text text-dark">
                Display Order
            </th>
                <th class="text text-dark">
                Created DateTime
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="30%" style="color:black">
                    @obj.Name
                </td>
                    <td width="10%" style="color:black">
                    @obj.DisplayOrder
                </td>
                    <td width="30%" style="color:black">
                    @obj.CreatedDateTime
                </td>
                <td width="20%">
                        <div class="btn-group" role="group" style="width:110px">
                    <a class="btn btn-primary btn-success" asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id">
                        <i class="bi bi-pencil-square"></i>Edit
                    </a>
                  </div>

                    <div class="btn-group" role="group" style="width:110px">
                        <a class="btn btn-primary btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id">
                            <i class="bi bi-trash3"></i>Delete
                        </a>
                    </div>
                    </td>

            </tr>
        }
    </tbody>


</table>
</div>