﻿@if (TempData["success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    @*<h2 style="text-align:center; background-color:none; color:dodgerblue">@TempData["success"]</h2>*@

    <script type="text/javascript">
        toastr.success('@TempData["success"]');
    </script>
}


@if (TempData["error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    @*<h2 style="text-align:center; background-color:none; color:dodgerblue">@TempData["error"]</h2>*@

    <script type="text/javascript">
        toastr.success('@TempData["error"]');
    </script>
}