a.navbar-brand {
    white-space: normal;
    text-align:center;
    word-break:break-all;
}

button-primary {
    color:#fff;
    background-color:#1b6ec2;
    border-color:#1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}



html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}